<div class="about-us">
    <div class="row">
        <div class="col">
            <h3>A New Generation of Winemakers</h3>
            <p>Négociants buy everything from grapes to grape must to wines in various states of completion. In the case
                of grapes or must, the négociant performs virtually all the winemaking. </p> <br>
            <p>If he buys already fermented wine in barrels or en-vrac—basically in bulk containers, he may age the wine
                further, blend in other wines or simply bottle and sell it as is. The result is sold under the name of
                the négociant, not the name of the original grape or wine producer.</p>
        </div>
        <div class="col-img">
            <img src="https://www.wine.com/product/images/e3yz4duhs1wsygbyjlhx.jpg" alt="Product Image">
        </div>
        <div class="col">
            <h3>Over All Those Years</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus. Suspendisse lectus tortor,
                dignissim sit amet, adipiscing nec, ultricies sed, dolor.</p>
            <br>
            <div class="brand-container">
                <div class="image-wrapper">
                    <img src="https://png.pngitem.com/pimgs/s/171-1715850_2019-coe-logos-white-bkg-cmyk-translations-en.png"
                        alt="Image 1">
                </div>
                <div class="image-wrapper">
                    <img src="https://img.freepik.com/premium-vector/finest-wine-round-grunge-rubber-vector-stamp-with-grapes_787461-58.jpg?w=2000"
                        alt="Image 2">
                </div>
                <div class="image-wrapper">
                    <img src="http://cdn.shopify.com/s/files/1/0174/5118/8278/collections/Tim_Aitkin_Awards_1200x630.jpg?v=1667838196"
                        alt="Image 3">
                </div>
            </div>
        </div>
    </div>
</div>