<footer>
    <div class="container">
        <div class="get-in-touch">
            <h3>GET IN TOUCH</h3>
            <div class="contact-info">
                <div class="address">
                    <i class="fa-sharp fa-solid fa-location-dot"></i>
                    <label for="address">Our company's address</label>
                </div>
                <div class="phone">
                    <i class="fa-sharp fa-solid fa-phone"></i>
                    <label for="phone">Phone number:0123456789</label>
                </div>
                <div class="email">
                    <i class="fa-sharp fa-solid fa-envelope"></i>
                    <label for="email">ouremail@gmail.com</label>
                </div>
            </div>
        </div>
        <div class="follow-us">
            <h3>FOLLOW US</h3>
            <p>Follow us in our</p>
            <div class="social-icons">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-linkedin-in"></i></a>
            </div>
        </div>
        <div class="newsletter">
            <h3>NEWSLETTER</h3>
            <p>Give us your email for updating latest news</p>
            <div class="subscribe-form">
                <input type="email" placeholder="Enter your email">
                <button>Subscribe</button>
            </div>
        </div>
    </div>
</footer>
<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"> -->