<nav id="menubar">
    <div>
        <a href="../index.html#section-home"><img id="applogo" src="../assets/images/app_logo.png" alt="our_logo"></a>
    </div>
    <div>
        <ul id="navbar">
            <li><a href="../index.html#section-home" onclick="navlinkOnClick()" class="a_nav">Home</a></li>
            <li><a href="../index.html#section-about-us" onclick="navlinkOnClick()" class="a_nav">About us</a></li>
            <li><a href="../allProducts.html" onclick="navlinkOnClick()" class="a_nav">Products</a></li>
            <li><a href="../index.html#section-service" onclick="navlinkOnClick()" class="a_nav">Services</a></li>
            <li><a href="../index.html#section-contact" onclick="navlinkOnClick()" class="a_nav">Contact</a></li>
        </ul>
    </div>
    <div id="mobile" onclick="menuMobileOnClick()">
        <i id="barOrFoo" class="fa-solid fa-bars"></i>
    </div>
    <button onclick="toTopFunction()" id="toTopBtn" title="Go to top">
        <i class="fa-solid fa-arrow-up"></i>
    </button>
</nav>