<div class="product-card">
    <div class="card-name">
        <h3 class="wine-name">Wine name</h3>
        <h4 class="wine-subname">Bin 95 Grange 2019</h4>
    </div>
    <div class="product-image">
        <img src="https://img3.zakaz.ua/src.1617796864.ad72436478c_2021-04-08_Tamara/src.1617796864.SNCPSG10.obj.0.1.jpg.oe.jpg.pf.jpg.1350nowm.jpg.1350x.jpg"
            alt="Product image" class="wine-image">
    </div>
    <div class="ratings">
        <i class="fa-solid fa-star" style="color: #daa520;"></i>
        <i class="fa-solid fa-star" style="color: #daa520;"></i>
        <i class="fa-solid fa-star" style="color: #daa520;"></i>
        <i class="fa-solid fa-star" style="color: #daa520;"></i>
        <i class="fa-solid fa-star" style="color: #daa520;"></i>
    </div>
    <span class="product-rating-count">(24 Reviews)</span>
    <div class="price-tag">
        <span class="price">$44.50</span>
        <span class="price_unit">each</span>
    </div>
    <div class="product-volume">
        <span>Bottle Vol 850ML</span>
    </div>
    <button class="button_see-more" id="seeMoreButton" onclick="{
        location.href = '../productDetail.html';
    };">
        SEE MORE <i class="fa-solid fa-chevron-right" style="margin-left:15px ;"></i>
    </button>
</div>