<div class="container">
    <div class="left">
        <p>Among the many types of white wine, dry white wine is the most common. More or less aromatic and tangy, it is
            derived from the complete fermentation of the wort.
            Sweet wines, on the other hand, are produced by interrupting the fermentation before all the grape sugars
            are converted into alcohol;
            Sparkling wines, which are mostly white, are wines where the carbon dioxide from the fermentation is kept
            dissolved in the wine and becomes gas when the bottle is opened.</p>
        <img src="https://ff9a085de27ee215499f-d152abb8b8e2f4e12e4b8bb75494773c.ssl.cf1.rackcdn.com/hike-wine-california.jpg"
            alt="Image">
    </div>
    <div class="right">
        <img src="https://ff9a085de27ee215499f-d152abb8b8e2f4e12e4b8bb75494773c.ssl.cf1.rackcdn.com/miramar_group.jpg"
            alt="Image">
        <p>Knowledge about the culture of grapevines was conserved by the Catholic Church: wine was necessary for the
            celebration of Mass and the monks planted vines at high latitudes and increased the monastic acreages.
            Difficult to transport and store, wine long remained a product for local consumption. The trade was
            re-established initially after the enrichment of the nobles and prelates because, as with the Romans,
            the art of the table reflected the reputation of the host.</p>
        <p>In 1453 the Ottoman Empire took Constantinople and the situation of the Venetians and Genovese deteriorated.
            The wine trade between the eastern Mediterranean and northern Europe fell sharply.
            This wine was called sack and caused a sensation in England.</p>
    </div>
</div>